<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view title="{{collection_name}} ({{items_in_collection}})">
  <ion-content has-header="true" padding="true">
      <ion-list>
        <ion-item ng-repeat="item in items" type="item-text-wrap" href="#/item/{{item.id}}">
          
            <img  src="{{key}}">{{item.element_texts[0].text}}
        
        </ion-item>
    </ion-list>
      <!--<ul ng-repeat="pic in pic_thumbnail_url56">
            <li ng-repeat="(key, val) in pic"><a href="#/item/{{val}}"><img src="{{key}}"></a></li>
        </ul>-->
  </ion-content>
</ion-view>


