<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{item_title}}">
  <ion-content has-header="true" padding="true">
     
      <ul ng-repeat="pic in pics">
            <li ng-repeat="(key, val) in pic"><a href="{{val}}" target="_blank"><img src="{{key}}"></a></li>
        </ul>
        <ul ng-repeat="item in items">
            <li ng-repeat="(key, val) in item">{{key}}: {{val}}</li>
        </ul>
     
     
  </ion-content>
</ion-view>
